:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: black;
  margin: 0px;
}

.movieWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.movies img {
  max-width: 600px;
  width: 100%;
}

.moviePosterContainer {
  max-width: 600px;
  position: relative;
  width: 100%;
}

.moviePosterContainer .overlay {
  visibility: hidden;
  color: white;
  position: absolute;
  height: 100%;
  overflow-wrap: break-word;
  width: 100%;
  display: flex;
  height: 100%;
}

.overlayContent {
  display: inline-block;
  align-self: flex-end;
  margin-bottom: 20px;
}

.moviePosterContainer:hover .overlay {
  visibility: visible;
  background: rgba(23, 23, 23, 0.8);
  transition: 0.4s ease;
}

.overlayTitle,
.overlayReleaseDate {
  margin: 20px;
}

.movieDetail {
  position: relative;
  color: white;
}

.movieDetail .movieDetailBackground {
  min-height: 100vh;
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
}

.movieDetail .movieDetailSummary {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.movieDetail img {
  border: 5px solid #fff;
  width: 250px;
}

.movieDetailDetails {
  margin-left: 10px;
  padding: 30px;
}

.movieDetailDetails .title {
  margin-right: 10px;
  text-shadow: 1px 1px #4d4d4d;
}

.movieDetailDetails .rating {
  color: #000;
  font-weight: 500;
  background: #fff;
  padding: 0 5px;
  text-shadow: none;
  display: inline-block;
}

.movieDetailDetails .rating:before {
  content: url(/star.svg);
  padding-right: 5px;
}

.movieDetailDetails p {
  max-width: 400px;
  text-shadow: 1px 1px #4d4d4d;
}

@media (min-width: 1025px) {
  .movieWrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
